.configuration-fragments {
	padding-top: 6rem;

	&.shifted {
		margin-right: 380px;
	}

	.configuration-header {
		margin-bottom: 1rem;
		padding-top: 1rem;
	}

	.c-empty-state-title {
		.text-truncate {
			overflow: unset;
		}
	}
}
