.page-toolbar-root {
	&.navbar {
		font-size: 1.125rem;
		height: 4rem;
	}

	.nav-item {
		padding-left: 0.5rem;
		padding-right: 0.5rem;

		.link-outline-secondary {
			margin-left: 0.5rem;
		}
	}
}
