.sidebar {
	margin-top: 4rem;
	min-width: 380px;
	position: fixed;
	right: 0;
	top: 4rem;
	width: 20%;
	z-index: 200;

	.component-title {
		font-size: 1rem;
	}

	.sidebar-list-item {
		border: 0;

		&.hover {
			background-color: $primaryL4;
		}

		.add-fragment-button {
			position: absolute;
			right: 1rem;
		}

		.icon-lighten {
			background-color: $secondaryHover;
		}
	}
}
