@import '_variables';

.configuration-set-root {
	@import '_page_toolbar';
	@import '_configuration_fragments';

	.bold {
		font-weight: 700;
	}

	.italic {
		font-style: italic;
	}

	.secondary {
		color: $secondaryL1;
	}
}
