@import 'atlas-variables';

.lfr-cmp__state-selector {
	&:hover {
		opacity: 0.8;
	}

	&.disabled {
		border-color: $light;
		cursor: not-allowed;
		opacity: 0.4;
	}

	.label:not(.label-item) {
		height: 16px;
		margin: 0;
		min-height: unset;
		padding: 4px;
	}
}
