.portlet-admin {
	.search-admin-tabs {
		margin-top: 20px;
	}

	.progress-percentage {
		color: #272833;
		display: block;
		position: absolute;
		width: 100%;
	}

	.reindex-progress {
		margin-bottom: 0;
		position: relative;
		width: 100px;
	}

	.search-admin-actions-panel .panel-body {
		padding: 0;
	}

	.search-status-container {
		padding: 20px;
	}

	.system-action-group {
		margin-bottom: 0;

		li {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.portlet-search-admin {
	.portal-search-admin-field-mappings {
		.btn-group-font-size {
			margin: 0 16px;
		}

		.nav-header {
			font-size: 16px;
			font-weight: 600;
			padding: 0.625rem 1rem;
		}
	}

	.search-admin-actions-panel {
		.float-left {
			color: #272833;
		}
	}

	.status-page-container {
		max-width: 800px;

		.connection-info-item {
			.connection-health-indicator {
				color: #A7A9BC;

				.connection-health-indicator-text {
					color: #6B6C7E;
				}

				&.green {
					color: #5ACA75;

					.connection-health-indicator-text {
						color: #287D3C;
					}
				}

				&.red {
					color: #DA1414;

					.connection-health-indicator-text {
						color: #DA1414;
					}
				}

				&.yellow {
					color: #FF8F39;

					.connection-health-indicator-text {
						color: #B95000;
					}
				}
			}

			.connection-id {
				margin: 0;
			}

			.connection-info-item-header {
				align-items: flex-start;
				display: flex;
				justify-content: space-between;
			}
		}
	}
}
